.container {
    width: 800px;
    margin: 0 auto;
    background-color: #f3f3f3;
    padding: 20px;
    text-align: center;
}

img.octocat {
    height: 200px;
}

.row {
    display:flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    margin: 20px;
    padding: 20px;
}

.top {
    background-color: red;
}

.center {
    background-color: white;
    justify-content: space-evenly;

}

.bottom {
    background-color: blue;
}